<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TODO Description"/>


<!-- If we will use bootstrap remove comment -->
<link rel="stylesheet" type="text/css" href="/css/nouislider.min.css"/>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="icon" href="/img/megadat_mini.png">
<link rel="stylesheet" type="text/css" href="/css/main.min.css"/>


<link href="/css/font-awesome.min.css" rel="stylesheet"/>


<!-- If IE use the latest rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">


