<header>
    <div class="container">
        <a href="home">
            <div id="branding">
                <h1><span class="highlight">Wine</span> App</h1>
            </div>
        </a>
        <nav>
            <a href="#" id="menu-icon"><img src="../img/nav.png" alt="nav.png"></a>
            <ul>
                <li><a href="home" >HOME</a></li>
                <li><a href="about">ABOUT</a></li>
                <li><a href="suggestion">SUGGESTION</a></li>
            </ul>
        </nav>

    </div>
</header>