<header>
    <div class="container">
        <a href="/home">
            <div id="branding">
                <h1><span class="highlight">Vino</span> App</h1>
            </div>
        </a>
        <nav>
            <a href="#" id="menu-icon"><img src="/img/nav.png" alt="Menu"></a>
            <ul>
                <li><a href="/home" >Domov</a></li>
                <!---li><a href="/about">ABOUT</a></li-->
                <li><a href="/katalog">Katalog</a></li>
                <li><a href="/signup">Registracija</a></li>
                <li><a href="/login">Prijava</a></li>

            </ul>
        </nav>

    </div>
</header>