<header>
    <div class="container">
        <a href="/home">
            <div id="branding">
                <h1><span class="highlight">Wine</span> App</h1>
            </div>
        </a>
        <nav>
            <a href="#" id="menu-icon"><img src="/img/nav.png" alt="Menu"></a>
            <ul>
                <li><a href="katalog">Katalog vin</a></li>
                <!--li><a href="mojaVina">Moja vina</a></li-->
                <li role="presentation"><a href="logout">Odjava</a></li>
            </ul>
        </nav>

    </div>
</header>