<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="sl" xml:lang="sl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{>head}}
    <title>VinoApp</title>
</head>
<body>

{{>navbar}}


<div class="container">
    {{{body}}}
</div>

<footer>
    <a href="http://www.jpi-sklad.si/"><img id="skladi-logo" src="/img/skladi.png" alt="Javni štipendijski, razvojni, invalidski in preživninski sklad Republike Slovenije"></a>
    <a href="http://ec.europa.eu/social/main.jsp?catId=325&langId=sl/"><img id="ES-sklad-logo" src="/img/ES_sklad.png" alt="Evropski socialni sklad"></a>
    <a href="http://www.mizs.gov.si/si/"><img id="MIZS-logo" src="/img/MIZS_slo.png" alt="Ministrstvo za izobraževanje, znanost in šport"></a>
    <a href="http://www.megadat.si/"><img id="megadat-logo" src="/img/megadat.png" alt="Megadat"></a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.complexify.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.min.js"></script>

<script type="text/javascript" src="/js/nouislider.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#35424a",
                    "text": "#f5f5f5"
                },
                "button": {
                    "background": "#0d7f0d",
                    "text": "#F5F5F5"
                }
            }
        })});
</script>
</body>
</html>

