<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    {{>head}}
    <title>Vino App</title>
</head>
<body>

{{>navbar}}

<div class="container">
    {{{body}}}
</div>

<footer>
    <p>Megadat, Copyright &copy; 2017</p>
</footer>


<!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script-->

</body>
</html>
