<h2 class="page-header">Pozabil sem geslo</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container-forget">
    <form method="post" action="/forgot">

        <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Vaš email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Vaš email:"/>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Pošlji email</button>
        </div>
    </form>
</div>