<!-- Start banner -->
<section id="showcase">
    <div class="container">
        <h1><!--span></span--></h1>
        <br/>
        <div><p>


        </p></div>
    </div>
</section>
<!-- End banner -->


<section id="boxes">
    <a href="/login">
        <div class="box dark">
            <img src="/img/glasses-with-wine-white.png">
            <h3>Pridružite se nam</h3>
            <p>Želite prejemati novice o vinih in biti bolj vključeni v našo skupnost. To lahko storite enostavno s
                prijavo na naši strani.</p>
        </div>
    </a>
    <a href="/katalog">
        <div class="box dark">
            <img src="/img/wine-list-white.png">
            <h3>Katalog vin</h3>
            <p>Vas zanimajo vina različnih pridelovalcev. Potem si morate ogledati naš katalog vin.</p>
        </div>
    </a>
    <a href="/">
        <div class="box dark">
            <img src="/img/wine-list-white.png">
            <h3>TODO nekaj o primerjavi vin</h3>
            <p></p>
        </div>
    </a>
</section>





