<!-- Start banner -->
<section id="showcase">
    <div class="container">
        <h1><span>Wine suggestion app</span></h1>
        <div><p>
            Cras vulputate venenatis tellus et imperdiet. In tempus sit amet felis id
            varius. Nullam cursus pellentesque convallis. Etiam hendrerit ligula vitae porttitor
            lacinia. Ut convallis, arcu vitae aliquam varius, nisl ligula faucibus est, eu posuere
            elit ipsum non nibh. Pellentesque mattis orci vel urna euismod auctor. Vivamus maximus
            aliquet vestibulum.
        </p></div>
    </div>
</section>
<!-- End banner -->


<section class="text-example ">
    <div class="text-example-inner dark">

        <h2>Title h2</h2>
        <p>Here is some example text, so we can see with what we are working with.</p>
        <p>Here is some example text, so we can see with what we are working with.</p>

    </div>
</section>





