<div class="table">
    <div class="table-row">

        <div id="side-menu" class="aside" role="navigation">
            <div>
                <ul class="nav nav-list accordion">

                    <div class="search-holder input-group">
                        <span class="input-group-addon"><i class="fa fa-search fa" aria-hidden="true"></i></span>
                        <input type="text" id="search-input" placeholder="Iskanje vin" name="search"
                               onkeyup="filterWines()"
                               class="form-control searchbox-input">
                    </div>


                    <li>
                        <div id="alcohol-selector">
                            <p>Alkohol</p>
                            <div id="alcohol-keypress" class="noUi-target noUi-ltr noUi-horizontal">
                            </div>
                            <label>
                                <input type="number" step="0.1" id="input-alcohol-keypress-0" class="search-inputs"
                                       oninput="filterWines()">
                                %
                            </label>
                            <label id="input-alcohol-label-1">
                                <input type="number" step="0.1" id="input-alcohol-keypress-1" class="search-inputs"
                                       oninput="filterWines()">
                                %
                            </label>
                        </div>
                    </li>

                    <li>
                        <div id="color-selector">
                            <p>Barva</p>
                            <div class="checkbox">
                                <label><input id="color-red" type="checkbox" value="rdeče" checked="checked"
                                              onchange="filterWines()">Rdeče</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="color-rose" type="checkbox" value="rose" checked="checked"
                                              onchange="filterWines()">Rose</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="color-white" type="checkbox" value="belo" checked="checked"
                                              onchange="filterWines()">Belo</label>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="style-selector">
                            <p>Stil</p>
                            <div class="checkbox">
                                <label><input id="style-calm" type="checkbox" value="mirno" checked="checked"
                                              onchange="filterWines()">Mirno</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="style-bubbly" type="checkbox" value="peneče" checked="checked"
                                              onchange="filterWines()">Peneče</label>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div id="year-selector">
                            <p>Letnik</p>
                            <div id="year-keypress" class="noUi-target noUi-ltr noUi-horizontal">
                            </div>

                            <input type="number" id="input-year-keypress-0" class="search-inputs"
                                   oninput="filterWines()">
                            <input type="number" id="input-year-keypress-1" class="search-inputs"
                                   oninput="filterWines()">

                        </div>
                    </li>

                    <li>
                        <div id="sugar-selector">
                            <p>Stopnja sladkorja</p>
                            <div class="checkbox">
                                <label><input id="sugar-none" type="checkbox" value="suho" checked="checked"
                                              onchange="filterWines()">Suho</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="sugar-with" type="checkbox" value="sladkor" checked="checked"
                                              onchange="filterWines()">Z ostankom sladkorja</label>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>


        <div class="container-katalog">
            <div class="seznam">
                <h1 class="title-h2">Seznam vin</h1>

                <p id="alphabar">
                    <a href="#A" id="letter-link-A" class="alphabet">A</a>
                    <a href="#B" id="letter-link-B" class="alphabet">B</a>
                    <a href="#C" id="letter-link-C" class="alphabet">C</a>
                    <a href="#Č" id="letter-link-Č" class="alphabet">Č</a>
                    <a href="#D" id="letter-link-D" class="alphabet">D</a>
                    <a href="#E" id="letter-link-E" class="alphabet">E</a>
                    <a href="#F" id="letter-link-F" class="alphabet">F</a>
                    <a href="#G" id="letter-link-G" class="alphabet">G</a>
                    <a href="#H" id="letter-link-H" class="alphabet">H</a>
                    <a href="#I" id="letter-link-I" class="alphabet">I</a>
                    <a href="#J" id="letter-link-J" class="alphabet">J</a>
                    <a href="#K" id="letter-link-K" class="alphabet">K</a>
                    <a href="#L" id="letter-link-L" class="alphabet">L</a>
                    <a href="#M" id="letter-link-M" class="alphabet">M</a>
                    <a href="#N" id="letter-link-N" class="alphabet">N</a>
                    <a href="#O" id="letter-link-O" class="alphabet">O</a>
                    <a href="#P" id="letter-link-P" class="alphabet">P</a>
                    <a href="#R" id="letter-link-R" class="alphabet">R</a>
                    <a href="#S" id="letter-link-S" class="alphabet">S</a>
                    <a href="#Š" id="letter-link-Š" class="alphabet">Š</a>
                    <a href="#T" id="letter-link-T" class="alphabet">T</a>
                    <a href="#U" id="letter-link-U" class="alphabet">U</a>
                    <a href="#V" id="letter-link-V" class="alphabet">V</a>
                    <a href="#Z" id="letter-link-Z" class="alphabet">Z</a>
                    <a href="#Ž" id="letter-link-Ž" class="alphabet">Ž</a>
                </p>
            </div>

            <ul id="wine-list-div">
                <div class="letter" id="div-crkaa">
                    <a name="A" class="letter-link"><h1 class="lettlink">A</h1></a>
                </div>

                <div class="letter" id="div-crkab">
                    <a name="B" class="letter-link"><h1 class="lettlink">B</h1></a>
                </div>

                <div class="letter" id="div-crkac">
                    <a name="C" class="letter-link"><h1 class="lettlink">C</h1></a>
                </div>

                <div class="letter" id="div-crkač">
                    <a name="Č" class="letter-link"><h1 class="lettlink">č</h1></a>
                </div>

                <div class="letter" id="div-crkad">
                    <a name="D" class="letter-link"><h1 class="lettlink">D</h1></a>
                </div>

                <div class="letter" id="div-crkae">
                    <a name="E" class="letter-link"><h1 class="lettlink">E</h1></a>
                </div>

                <div class="letter" id="div-crkaf">
                    <a name="F" class="letter-link"><h1 class="lettlink">F</h1></a>
                </div>

                <div class="letter" id="div-crkag">
                    <a name="G" class="letter-link"><h1 class="lettlink">G</h1></a>
                </div>

                <div class="letter" id="div-crkah">
                    <a name="H" class="letter-link"><h1 class="lettlink">H</h1></a>
                </div>

                <div class="letter" id="div-crkai">
                    <a name="I" class="letter-link"><h1 class="lettlink">I</h1></a>
                </div>

                <div class="letter" id="div-crkaj">
                    <a name="J" class="letter-link"><h1 class="lettlink">J</h1></a>
                </div>

                <div class="letter" id="div-crkak">
                    <a name="K" class="letter-link"><h1 class="lettlink">K</h1></a>
                </div>

                <div class="letter" id="div-crkal">
                    <a name="L" class="letter-link"><h1 class="lettlink">L</h1></a>
                </div>

                <div class="letter" id="div-crkam">
                    <a name="M" class="letter-link"><h1 class="lettlink">M</h1></a>
                </div>

                <div class="letter" id="div-crkan">
                    <a name="N" class="letter-link"><h1 class="lettlink">N</h1></a>
                </div>

                <div class="letter" id="div-crkao">
                    <a name="O" class="letter-link"><h1 class="lettlink">O</h1></a>
                </div>

                <div class="letter" id="div-crkap">
                    <a name="P" class="letter-link"><h1 class="lettlink">P</h1></a>
                </div>

                <div class="letter" id="div-crkar">
                    <a name="R" class="letter-link"><h1 class="lettlink">R</h1></a>
                </div>

                <div class="letter" id="div-crkas">
                    <a name="S" class="letter-link"><h1 class="lettlink">S</h1></a>
                </div>

                <div class="letter" id="div-crkaš">
                    <a name="Š" class="letter-link"><h1 class="lettlink">Š</h1></a>
                </div>

                <div class="letter" id="div-crkat">
                    <a name="T" class="letter-link"><h1 class="lettlink">T</h1></a>
                </div>

                <div class="letter" id="div-crkau">
                    <a name="U" class="letter-link"><h1 class="lettlink">U</h1></a>
                </div>

                <div class="letter" id="div-crkav">
                    <a name="V" class="letter-link"><h1 class="lettlink">V</h1></a>
                </div>

                <div class="letter" id="div-crkaz">
                    <a name="Z" class="letter-link"><h1 class="lettlink">Z</h1></a>
                </div>

                <div class="letter" id="div-crkaž">
                    <a name="Ž" class="letter-link"><h1 class="lettlink">Ž</h1></a>
                </div>
            </ul>
        </div>
    </div>
</div>
