<h2 class="page-header">Prijava</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container">
    <form method="post" action="/login">
        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Uporabniško ime ali email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" autofocus required id="username"
                           placeholder="Vpišite uporabniško ime ali email"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Geslo</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" autofocus required
                           id="passwordSignUp1"
                           placeholder="Vpišite geslo"
                           data-trigger="manual" data-title="Caps lock je vključen"/>
                </div>
            </div>
            <input type="button" id="showPassword" value="Prikaži geslo" class="btnsignup"/>
        </div>
        <div>
            <a href="/forgot">Pozabil sem geslo</a>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Prijava</button>
        </div>
    </form>
</div>

