<div id="passwordresetrequest-div">
    <br>
    <p>Na vaš email naslov smo vam poslali povezavo za ponastavitev gesla.  </p>
    <p>V primeru, da sporočila niste dobili kontaktirajte našo <a href="mailto:vinoapp2017@gmail.com">podporo.</a></p>
</div>