<h2 class="page-header">New password</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container-reset">
    <form method="post">

    <div class="form-group">
        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">New password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password"
                           pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                           id="passwordSignUp1" title="At least one uppercase letter, one number and length of 6."
                           placeholder="Enter your Password"/>
                    <span class="glyphicon form-control-feedback" id="passwordSpan1"></span>
                    <meter low="10" high="40" optimum="60" max="100" id="passValue"></meter>
                </div>
            </div>
        </div>
    </div>


        <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirm password</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password2"
                           id="passwordSignUp2"
                           placeholder="Confirm your New password"/>
                    <span class="glyphicon form-control-feedback" id="passwordSpan2"></span>
                </div>
                <input type="button" id="showPassword" value="Show password" class="btnsignup" />
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-success">Reset</button>
        </div>
    </form>
</div>