<h2 class="page-header">Registracija</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="container-sign-up">
    <form method="post" action="/register">

        <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" autofocus required id="email"
                           placeholder="Vpišite email"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">Uporabniško ime</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username" autofocus required
                           pattern="^[A-Za-z0-9_.]{3,15}" id="username"
                           title="Uporabniško ime je lahko dolgo od 3 do 15 znakov in vsebuje naslednje znake 0-9,A-Z,a-z,.,_"
                           placeholder="Vpišite uporabniško ime"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Geslo</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password" autofocus required
                           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{6,}"
                           id="passwordSignUp1"
                           title="Geslo mora biti dolžine vsaj 6 in imeti vsaj 1 veliko črko, 1 malo črko in 1 številko."
                           placeholder="Vpišite geslo"/>
                    <span class="glyphicon form-control-feedback" id="passwordSpan1"></span>
                    <meter low="10" high="40" optimum="60" max="100" id="passValue"></meter>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Potrdite geslo</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" name="password2" autofocus required
                           id="passwordSignUp2"
                           placeholder="Potrdite geslo"/>
                    <span class="glyphicon form-control-feedback" id="passwordSpan2"></span>
                </div>
                <input type="button" id="showPassword" value="Prikaži geslo" class="btnsignup"/>
            </div>

        </div>
        <button type="submit" class="btn btn-success">Registracija</button>


    </form>
</div>