<div class="container-vina">
    <div class="winename">
        <p id="ime-id">baza</p>
    </div>

    <div class="slikavina">
        <img class="img-circle" id="slika-id" src="" alt="vino">
    </div>

    <div class="vinoinfo">
        <div class="opis">
            <h2 id="headname">Opis vina</h2>
        </div>

        <div class="opisvina">
            <p id="opis-id">baza</p>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th colspan="2" class="lastnosti">
                    <span class="glyphicon glyphicon-glass"></span></th>
                </tr>
                <tr>
                    <td class="datatype">Letnik</td>
                    <td><p id="letnik-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Sladkorna stopnja</td>
                    <td><p id="sladkor-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Sorta</td>
                    <td><p id="sorta-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Barva</td>
                    <td><p id="barva-id">baza</p></td>
                </tr>

                <tr >
                    <td class="datatype">Stopnja alkohola</td>
                    <td><p id="alkohol-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Stil</td>
                    <td><p id="stil-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Telo</td>
                    <td><p id="telo-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Vinar</td>
                    <td><p id="vinar-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Lokacija</td>
                    <td><p id="okolis-id">baza</p></td>
                </tr>

                <tr>
                    <td class="datatype">Priporočena temperatura</td>
                    <td><p id="temperatura-id">baza</p> </td>
                </tr>

                <tr>
                    <td class="datatype">Pridelava</td>
                    <td><p id="pridelava-id">baza</p></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
</div>
