/* Showcase */
#showcase{
    min-height:500px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color: #35424a;
    border-bottom: #0d7f0d 3px solid;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

#showcase  span,#showcase .container div{
    background: rgba(245,245,245,0.5);
}
#showcase  span{
    padding: 0 5px 5px 5px ;
}

/* Boxes */
#boxes{
    margin-top:1px;
    text-align:center;
    width:100%;
    margin-top: 10px;

}

#boxes .box{
    width:30%;
    text-align:center;
    display:inline-block;
    vertical-align: top;
    padding:10px 10px 10px 10px;
    margin: 10px;
    min-height: 250px;
    border: solid 4px #35424a;
}
#boxes .box h3{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#boxes .box img{
    width:90px;
}

.boxes-container{
    margin: auto;
    width: 1000px
}

/*Showcase END*/

