/*CSS Reset*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp,
small, strike, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Reset end*/

@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

:root {
    /*--main-primary-color: #f5f5f5;*/
    /*--main-accent-color: #0d7f0d;*/
    /*--main-background-color: #35424a;*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;;
    margin: 0 0 120px 0;
    padding: 0;

    background-color: #f5f5f5;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 125%;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header **/
header {
    background: #35424a;
    color: #f5f5f5;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0d7f0d 3px solid;
}

header a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    color: #0d7f0d;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
    padding: 0 20px 0 20px;
    font-weight: 500;
}

header nav ul li a {
    font-size: 20px;
}

header .highlight, header .current a {
    color: #0d7f0d;
    font-weight: bold;
}

header .current {
    color: #0d7f0d;
    font-weight: 700;
    text-decoration: underline;
}

header nav a:hover {
    color: #0d7f0d;
    text-decoration: none;

}

#menu-icon {
    display: none;
    /*width: 40px;
    height: 40px;
    background: url('../img/nav.png') center no-repeat;*/

}

#menu-icon img {
    width: 35px;
    padding: 0;
    margin: 0;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

/*Footer*/

footer {
    padding: 20px 0 0 0;
    color: #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: #35424a 3px solid;
}

footer img {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    float: center;
    height: 70px
}

/*Footerend*/

/*Bootstrap*/
.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

/*Bootstrap end*/

/* Showcase */
#showcase{
    min-height:500px;
    background:url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align:center;
    color: #35424a;
    border-bottom: #0d7f0d 3px solid;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font-size:20px;
}

#showcase  span,#showcase .container div{
    background: rgba(245,245,245,0.5);
}
#showcase  span{
    padding: 0 5px 5px 5px ;
}

/* Boxes */
#boxes{
    margin-top:1px;
    text-align:center;
    width:100%;
    margin-top: 10px;

}

#boxes .box{
    width:30%;
    text-align:center;
    display:inline-block;
    vertical-align: top;
    padding:10px 10px 10px 10px;
    margin: 10px;
    min-height: 250px;
    border: solid 4px #35424a;
}
#boxes .box h3{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#boxes .box img{
    width:90px;
}

.boxes-container{
    margin: auto;
    width: 1000px
}

/*Showcase END*/

/*Signup*/

form {
    max-width: 300px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

form button {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 100px;
}

.page-header {
    text-align: center;
    font-weight: bold;

}

#passValue {
    width: 100%;
}

.btnsignup {
    font-size: small;
    float: right;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

/*Signup END*/

/*Posamezna vina*/

.container-vina {
    max-width: 1000px;
    margin: auto;
}

.winename {
    margin: 30px 0;
    text-align: center;
    border-bottom: double;
    border-bottom-color: #0d7f0d;
}

#ime-id {
    color: #0d7f0d;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}

.slikavina {
    margin-bottom: 50px;
    align-content: center;
}

#slika-id {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#headname {
    color: rgb(1, 68, 149);
    font-size: 160%;
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 2px solid rgb(1, 68, 149);
}

#opis-id {
    font-size: 130%;
    padding: 20px 5px;
}

.table-striped {
    max-width: 600px;
    margin: 20px auto 40px;
    font-size: 120%;
}

.success {
    text-align: center;
    font-style: italic;
    font-size: 130%;
}

.datatype {
    font-weight: bold;
}

.lastnosti {
    background-color: #aed2e0;
    text-align: center;
}

/*Katalog*/

.table {
    width: 100%;
    display: table;
}

.table-row {
    display: table-row
}

.container-katalog {
    max-width: 750px;
    display: table-cell;

}

.seznam {
    text-align: center;
    margin: 40px auto;
}

.title-h2 {
    margin: 30px 0;
    color: #0d7f0d;
}

.alphabet {
    color: #0d7f0d;
    font-size: 150%;
    padding-left: 5px;
    padding-right: 5px;
}

.nolink {
    font-style: bold;
    font-size: 150%;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    cursor: default;
    color: #35424a;
}

.letter {
    max-width: auto;
    margin-bottom: 10px;
}

.lettlink {
    color: #060205;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: groove;
    font-weight: bold;
}

.povezava {
    text-align: center;
    font-size: 130%;
}

.letter-link:hover {
    text-decoration: none;
}

#side-menu {
    width: 250px;
    display: table-cell;
}

#side-menu > div {
    background: #35424a;
    color: #f5f5f5;
    width: 250px;
    padding: 50px 20px 50px 20px;
}

#side-menu li {
    padding-top: 20px;
    border-bottom: 1px solid white;
}

#side-menu p {
    font-weight: bold;
}

#alcohol-keypress, #year-keypress {
    margin: 20px 10px 20px 10px;
    background: #35424a;
}

.search-inputs {
    color: #35424a;
    width: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

#input-alcohol-label-1, #input-year-keypress-1 {
    float: right;
}

.noUi-connect {
    background: #0d7f0d;
}

.checkbox {
    margin-left: 10px;
}

#side-menu span {
    text-align: center;
    margin: 0 auto;
}

/*search

end search*/

/* Media Queries */
@media only screen and (max-width: 768px) {

    body {
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 200px;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 150%;
    }

    header {
        width: 100%;
    }

    header nav ul li a {
        font-size: 17px;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;

        background: #35424a;
        right: 20px;
        border: 3px solid #0d7f0d;

    }

    nav:hover ul {
        display: block;
        padding: 20px 0 20px 0;
    }

    header nav ul li {
        padding: 8px 0 8px 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    #showcase {
        display: none;
    }

    .container {
        width: 100%;
    }

    #boxes .box{
        display:block;
        width:100%
    }

    #side-menu{
        display: block;
        width:100%;
    }
    .table {
        width: 100%;
        display: block;
    }

    .table-row {
        display: block;
    }

    #side-menu > div{
        width:100%;
    }
    .checkbox{
        display:inline;
    }

}






