/* Media Queries */
@media only screen and (max-width: 768px) {

    body {
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 200px;
    }

    h1 {
        font-size: 175%;
    }

    h2 {
        font-size: 150%;
    }

    header {
        width: 100%;
    }

    header nav ul li a {
        font-size: 17px;
    }

    #menu-icon {
        display: inline-block;
    }

    nav ul, nav:active ul {
        display: none;
        z-index: 1000;
        position: absolute;

        background: #35424a;
        right: 20px;
        border: 3px solid #0d7f0d;

    }

    nav:hover ul {
        display: block;
        padding: 20px 0 20px 0;
    }

    header nav ul li {
        padding: 8px 0 8px 0;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    #showcase {
        display: none;
    }

    .container {
        width: 100%;
    }

    #boxes .box{
        display:block;
        width:100%
    }

    #side-menu{
        display: block;
        width:100%;
    }
    .table {
        width: 100%;
        display: block;
    }

    .table-row {
        display: block;
    }

    #side-menu > div{
        width:100%;
    }
    .checkbox{
        display:inline;
    }

}


