/*Signup*/

form {
    max-width: 300px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

form button {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 100px;
}

.page-header {
    text-align: center;
    font-weight: bold;

}

#passValue {
    width: 100%;
}

.btnsignup {
    font-size: small;
    float: right;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

/*Signup END*/