@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

:root {
    /*--main-primary-color: #f5f5f5;*/
    /*--main-accent-color: #0d7f0d;*/
    /*--main-background-color: #35424a;*/
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;;
    margin: 0 0 120px 0;
    padding: 0;

    background-color: #f5f5f5;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 125%;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header **/
header {
    background: #35424a;
    color: #f5f5f5;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0d7f0d 3px solid;
}

header a {
    color: #f5f5f5;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    color: #0d7f0d;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    list-style-type: none;
}

header nav ul li {
    float: left;
    padding: 0 20px 0 20px;
    font-weight: 500;
}

header nav ul li a {
    font-size: 20px;
}

header .highlight, header .current a {
    color: #0d7f0d;
    font-weight: bold;
}

header .current {
    color: #0d7f0d;
    font-weight: 700;
    text-decoration: underline;
}

header nav a:hover {
    color: #0d7f0d;
    text-decoration: none;
}

#menu-icon {
    display: none;
    /*width: 40px;
    height: 40px;
    background: url('../img/nav.png') center no-repeat;*/

}

#menu-icon img {
    width: 35px;
    padding: 0;
    margin: 0;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

/*Footer*/

footer {
    padding: 20px 0 0 0;
    color: #f5f5f5;
    background-color: #f5f5f5;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: #35424a 3px solid;
}

footer img {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    float: center;
    height: 70px
}

/*Footerend*/

/*Bootstrap*/
.glyphicon-ok {
    color: green;
}

.glyphicon-remove {
    color: red;
}

/*Bootstrap end*/




