/*Posamezna vina*/

.container-vina {
    max-width: 1000px;
    margin: auto;
}

.winename {
    margin: 30px 0;
    text-align: center;
    border-bottom: double;
    border-bottom-color: #0d7f0d;
}

#ime-id {
    color: #0d7f0d;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}

.slikavina {
    margin-bottom: 50px;
    align-content: center;
}

#slika-id {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#headname {
    color: rgb(1, 68, 149);
    font-size: 160%;
    text-align: left;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 2px solid rgb(1, 68, 149);
}

#opis-id {
    font-size: 130%;
    padding: 20px 5px;
}

.table-striped {
    max-width: 600px;
    margin: 20px auto 40px;
    font-size: 120%;
}

.success {
    text-align: center;
    font-style: italic;
    font-size: 130%;
}

.datatype {
    font-weight: bold;
}

.lastnosti {
    background-color: #aed2e0;
    text-align: center;
}

/*Katalog*/

.table {
    width: 100%;
    display: table;
}

.table-row {
    display: table-row
}

.container-katalog {
    max-width: 750px;
    display: table-cell;

}

.seznam {
    text-align: center;
    margin: 40px auto;
}

.title-h2 {
    margin: 30px 0;
    color: #0d7f0d;
}

.alphabet {
    color: #0d7f0d;
    font-size: 150%;
    padding-left: 5px;
    padding-right: 5px;
}

.nolink {
    font-style: bold;
    font-size: 150%;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    cursor: default;
    color: #35424a;
}

.letter {
    max-width: auto;
    margin-bottom: 10px;
}

.lettlink {
    color: #060205;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: groove;
    font-weight: bold;
}

.povezava {
    text-align: center;
    font-size: 130%;
}

.letter-link:hover {
    text-decoration: none;
}

#side-menu {
    width: 250px;
    display: table-cell;
}

#side-menu > div {
    background: #35424a;
    color: #f5f5f5;
    width: 250px;
    padding: 50px 20px 50px 20px;
}

#side-menu li {
    padding-top: 20px;
    border-bottom: 1px solid white;
}

#side-menu p {
    font-weight: bold;
}

#alcohol-keypress, #year-keypress {
    margin: 20px 10px 20px 10px;
    background: #35424a;
}

.search-inputs {
    color: #35424a;
    width: 70px;
    margin-bottom: 20px;
    font-weight: bold;
}

#input-alcohol-label-1, #input-year-keypress-1 {
    float: right;
}

.noUi-connect {
    background: #0d7f0d;
}

.checkbox {
    margin-left: 10px;
}

#side-menu span {
    text-align: center;
    margin: 0 auto;
}

/*search

end search*/

